body {
  margin: 0;
  background: #f1f6fb;
  min-height: 100vh;
  font-family: 'Segoe UI', Arial, sans-serif;
}
#root {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
