.navbar {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
  background: #3498db;
  padding: 13px 0 10px 0;
  margin-bottom: 25px;
  border-radius: 8px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.12rem;
  font-weight: 500;
  transition: color .15s;
}
.navbar a:hover {
  color: #dfe6e9;
}
