.navbar {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  background: #3498db;
  padding: 16px 0;
  margin-bottom: 32px;
  border-radius: 10px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.18rem;
  font-weight: 600;
  transition: color .15s;
}
.navbar a:hover {
  color: #fffacd;
}
